<section class="login">
    <div class="container mx-auto shadow-2xl py-5">
        <ul class="list-disc mt-10 mb-5 bg-white p-8">
            <li>Open two Seperate browsers or open a new window and a incognito window in a browser</li>
            <li>Add to cart any burgers and Register a customer or Login with demo Guest User credentials provided in a browser window</li>
            <li>Also log in as an admin user in another window with provided credentials</li>
            <li>Once the order is placed placed Admin user will be notified realtime it can be seen in the admin orders dashboard</li>
            <li>when admin update the order status changes will be notified realtime in customer's specific order view until the order is completed</li>
        </ul>
        <div class="flex pl-8">
            <a href="https://github.com/mahadi-devo/Burger-s-Hut" target="_blank" class="text-sm font-bold pt-5 pr-5">See more info</a>
            <a href="https://github.com/mahadi-devo/Burger-s-Hut" target="_blank" class="text-sm font-bold pt-5">Download Source code</a>
        </div>
    </div>
</section>
