<section class="orders light-section">
    <div class="container mx-auto pt-12">
        <h1 class="font-bold text-lg mb-4">All orders</h1>
        <table class="w-full table-auto mb-10">
            <thead>
            <tr class="bg-red-200">
                <th class="border border-red-500 px-4 py-2 text-red-600">Orders</th>
                <th class="border border-red-500 px-4 py-2 text-red-600">Customer</th>
                <th class="border border-red-500 px-4 py-2 text-red-600">Address</th>
                <th class="border border-red-500 px-4 py-2 text-red-600">Phone</th>
                <th class="border border-red-500 px-4 py-2 text-red-600">Status</th>
                <th class="border border-red-500 px-4 py-2 text-red-600">Placed at</th>
            </tr>
            </thead>
            <tbody id="orderTableBody" class="bg-white">

            </tbody>
        </table>

    </div>
</section>